.translate-y-50 {
  transform: translateY(-50%);
}

.rotate-deg0 {
  transform: rotate(0deg);
}

.rotate-deg-180 {
  transform: rotate(-180deg);
}

.transition-02 {
  transition: all 0.2s ease-out;
}
